.posts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post {
  background: #dcdcdc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
}
.button{
  background: #2469f4;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  position: sticky;
  top: 10px;
}
